.select {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #ccc;
    padding: 5px;
    z-index: 99;
}

.btnSelect {
    margin-top: 3px;
    padding: 5px;
    border-bottom: 1px solid #777;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.wrapSelect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}