.wrap {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

.patientManagement {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 720px) {
        grid-template-columns: auto;
    }
}

.wrapCheck {
    display: flex;
    align-items: center;
    margin: 5px;

}

.anotherWrapCheck {
    @media (min-width: 720px) {
        grid-column: 2 / span 2;
    }

}

//
.check {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 5px;
    border: 2px #999 solid;
    cursor: pointer;
    appearance: none;

}

.check:checked {
    color: transparent;
    background-color: #999;
    background-image: url('../../../../public/icon-checkmark.svg');
    background-position: center;
    background-repeat: no-repeat;

}

.check:hover {
    border: 2px blue solid;
}