//kasowanie elementu '+/=' w input //
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
//

.wrapGlasgow {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px #999 solid;
}
h2 {
  font-size: 1.2rem;
}
label {
  font-size: 1.2rem;
}

.wrapCheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  border-radius: 5px;
  border: 2px #999 solid;
  cursor: pointer;
  appearance: none; //
}
.checkField {
  appearance: none;
  // opacity: 0;
}
// appearance: none;

.check:checked {
  color: transparent;
  background-color: #999;
  background-image: url('../../../../public/icon-checkmark.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.checkField:checked + .check {
  border: 2px #777 solid;
  background-color: #999;
  color: #fff;
}

.check:hover,
.breathingRate:hover {
  border: 2px blue solid;
}
.sumCheck {
  margin: 0 5px;
  text-align: center;
  line-height: 2em;
  //   border: 1px #999 solid;
  border-radius: 5px;
}
.wrapSum {
  align-self: center;
}
.wrapBreathingRate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //   justify-content: center;
}
.breathingRate {
  width: 30px;
  height: 25px;
  margin: 0 5px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px #777 solid;
  border-radius: 5px;
  cursor: pointer;
}
.wrapLungSide {
  display: flex;
  justify-content: end;
  align-items: center;
}
.description {
  margin: 5px auto 5px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.lungSide {
  width: 30px;
  margin: 0 5px;
  text-align: center;
}

.breathDifferent {
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px #000 dotted;
  cursor: pointer;
}

.wrapPulse {
  display: flex;
  justify-content: space-between;
}
.wrapPulseCheck {
  display: flex;
  flex-direction: column;
}
.pulsText {
  margin: 0 3px;
}
