.wrapGlobal {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  height: fit-content;
  padding: 5px;
  border: 1px #999 solid;
  flex-grow: 1;
}

.wrapIdentification {
  display: flex;
  margin: 4px 0;
}


// .btnICD {

//   margin: 0px;
//   width: 15px;
//   cursor: pointer;
//   align-self: flex-start;
// }

// .btn:hover {
//   fill: blue;
// }