.form {
  position: relative;
  flex-grow: 1;
  width: 70%;
  height: 100%;
  padding: 70px 5%;
  display: flex;
  align-items: center;
  // border: 1px #999 solid;
  // background-color: red;
}

.step {
  // max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  p {
    font-size: 1.2rem;
  }
}

.btn {
  position: absolute;
  bottom: 15px;
  right: 5%;
  width: 120px;
  height: 45px;
  border: 1px black solid;
  border-radius: 7px;
  font-size: 1.4rem;
  background-color: #999;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }
}
.btn:hover {
  border: 1px blue solid;
  background-color: #aaa;
  svg {
    fill: blue;
  }
}
.btnBack {
  right: auto;
  left: 5%;
}
.btnHome {
  top: 15px;
  bottom: auto;
}
