.form {
  position: relative;
  flex-grow: 1;
  width: 70%;
  margin: 50px 10px;
  display: flex;
  // align-items: center;
  overflow-y: auto;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-content: center;

  p {
    font-size: 1.2rem;
  }

  @media (max-width: 720px) {
    align-content: start;
    min-height: 75%;

  }
}