g {
  cursor: pointer;
}
.title {
  position: absolute;
  font-weight: bold;
}
.wrap {
  display: flex;
  height: 100%;
}
.active {
  path {
    fill: rgb(104, 232, 84);
  }
}

.injuriesDiv {
  position: absolute;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
}

.btnPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  min-height: 80%;
  max-height: 100%;
  padding: 3px;
}
.panelElement {
  padding: 0 10px;
  width: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  // scrollbar-width: thin;
}
.btnInjury {
  width: 100%;
  margin: 3px;
  border: 1px #333 solid;
  border-radius: 3px;
  padding: 5px;
  background-color: #ccc;
  text-align: start;
  font-size: 1.2rem;
  cursor: pointer;
  span {
    font-weight: bold;
  }
}

.wrapCheck {
  display: flex;
  align-items: center;
  padding: 1px;
  margin-top: 5px;

  p {
    white-space: nowrap;
  }
}
.btnInjury:hover,
.selectField:hover,
.numberField:hover,
.check:hover {
  border: blue 1px solid;
}
.numberField {
  width: 40px;
  height: 25px;
  margin: 0 5px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px #777 solid;
  border-radius: 5px;
  cursor: pointer;
}
.selectField {
  margin: 0 5px;
  width: 25px;
  height: 30px;
  border: 1px #777 solid;
  border-radius: 5px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  border-radius: 5px;
  border: 2px #999 solid;
  cursor: pointer;
  appearance: none; //
}

.check:checked {
  color: transparent;
  background-color: #999;
  background-image: url('../../../../public/icon-checkmark.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.svgInjuryText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  p {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
}

.referenceInjury {
  justify-content: start;
  align-items: end;
  p {
    width: fit-content;
    max-width: 100%;
    border-bottom: #333 solid 1px;
    padding: 0 3px;
  }
}
.referenceInjuryLeft {
  justify-content: end;
}

.referenceInjuryBorder {
  // padding: 1px;
  border: #333 solid 1px;
  border-radius: 4px;
}
