.wrapRecommendations {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #999;

    @media (min-width:720px) {
        border-radius: 5px;
    }


}

input:focus,
.field:focus {
    backdrop-filter: none !important;
}

.wrapParamedicInfo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin: 5px 0;

    @media (max-width: 720px) {
        width: 100%;
        grid-template-columns: auto;

    }

}

.paramedicInfo {

    align-content: center;
    padding: 3px 5px;
    border: 1px solid #333;
    border-radius: 5px;
    position: relative;
}

// .paramedicInfoAdd {
//     flex-grow: 1;
// }

.elementField {
    // width: 100%;
    font-size: 1.2rem;
    line-height: 1.5em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.titleField {
    min-width: 190px;
}

.dateField {
    display: flex;
}

.signature {
    margin: 0 auto;
    height: 100px;
    width: 95%;
    border: 1px black solid;
    background-color: #ddd;
    cursor: pointer;
}