.check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    border-radius: 5px;
    border: 2px #999 solid;
    cursor: pointer;
    appearance: none;
}

.checkField {
    appearance: none;
    position: absolute;
    opacity: 0;
}

.checkField:checked+.check {
    border: 2px #777 solid;
    background-color: #999;
    color: #fff;
}

.checkField:checked+.check.checkIcon {
    color: transparent;
    background-color: #999;
    background-image: url('../../../../public/icon-checkmark.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.check:hover,
.breathingRate:hover {
    border: 2px blue solid;
}