.wrapDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 10px;
    margin: 5px;
    padding: 5px 10px;
    border: 1px black solid;
    position: relative;
}

.wrapDate {
    @media (min-width: 720px) {
        width: 240px;
    }
}

.contents {
    width: 100%;
    font-size: 1.2rem;
    padding: 5px 0;
}

.inputText {
    height: 30px;
    width: 90%;
    font-size: 1.2rem;
    margin: 0 5px;
    padding: 5px 10px;
    flex-grow: 1;
    border-bottom: 1px solid black;
}

.btnAddDate {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 20px;
    height: 20px;
    margin: 2px;
    cursor: pointer;
}

