.wrapGlobal {
  margin: 5px 10px;
  height: fit-content;
  padding: 5px;
  border: 1px #999 solid;
  flex-grow: 1;
}

.wrap {
  flex-grow: 1;
}

.wrapCheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  border-radius: 5px;
  border: 2px #999 solid;
  cursor: pointer;
  appearance: none;
}

.check:checked {
  color: transparent;
  background-color: #999;
  background-image: url('../../../../public/icon-checkmark.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.check:hover,
.fieldNo:hover {
  border: 2px blue solid;
}
.description {
  margin: 5px auto 5px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.wrapGlucose {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkField {
  appearance: none;
}

.checkField:checked + .check {
  border: 2px #777 solid;
  background-color: #999;
  color: #fff;
}

.fieldNo {
  width: 40px;
  height: 25px;
  margin: 0 5px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px #777 solid;
  border-radius: 5px;
  cursor: pointer;
}

.wrapLungSide {
  display: flex;
  justify-content: end;
  align-items: center;
}

.lungSide {
  width: 30px;
  margin: 0 5px;
  text-align: center;
}

.textField {
  flex-grow: 1;
  font-size: 1.2rem;
  line-height: 2em;
  border-bottom: 1px #000 dotted;
  cursor: pointer;
  margin-left: 5px;
}
